{% include "resource/header.html" %}

<body class="bg-default">
    <div class="main-content my-5">
        <section class="section section-shaped section-lg">
            <div class="container py-7 py-lg-8 pt-lg-8">
                <div class="row justify-content-center">
                    <div class="col-lg-7 col-md-5">
                        <div class="col-md-12">
                            
                            <h1 class="display-4 d-none d-md-block text-white">MU-EAMS </h1>
                            <div class="d-sm-none text-center">
                                <h1 class="display-4  text-white">MU-EAMS
                                </h1>
                                <p class="lead-small text-sm  text-white">Mzumbe University Exams Management System</p>
                            </div>

                            <div class="d-none d-md-block">
                                <p class="lead-small  text-white">Mzumbe University Exams Management System
                                    (MU-EAMS)</p>
                            </div>

                            <p class="lead-small text-white mt-3">
                                <span class="text-mzumbe">*</span> For students; please use your student's email address to
                                reset your password.
                            </p>

                            <p class="lead-small text-white mt-3">
                                <span class="text-mzumbe">*</span> For Others; please use your MU-ARMS email address to
                                reset your password.
                            </p>

                            <p class="lead-small text-white mt-3">
                                <span class="text-mzumbe">*</span> Upon Successful; Go to your email inbox and use the reset link to reset your password
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-7">
                        <div class="col-md-12">                            
                            <div class="card shadow border-0">
                                <div class="card-header bg-white pb-2">
                                    <div class="row justify-content-md-center mu_logo">
                                        <div class="text-muted text-center mb-3 navbar-brand">
                                            Reset Password
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body px-lg-5 py-lg-5">
                                    <div class="text-center text-muted mb-4">
                                        <small>Reset with your Email Address</small>
                                    </div>
                                    <form action="" method="POST" autocomplete="off" role="form">              

                                        <div class="form-group mb-3">
                                            <div class="input-group input-group-alternative">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                                                </div>
                                                <input type="text" name="email" placeholder="Email Address" class="form-control" maxlength="254" required id="id_email">
                                            </div>
                                        </div>

                                        <div class="text-center">
                                            <button type="submit" class="btn btn-block primary my-4">Send Link </button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12 text-center">                            
                                    <a href="{% url 'index' %}" class="text-light">
                                        <small>Back to Login</small>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% include "resource/footer.html" %}