<!-- staff Modal -->
{%load django_bootstrap5 %}
<div class="modal fade" id="staff_modal" tabindex="-1" role="dialog" aria-labelledby="staff_modal" aria-hidden="true">
    <div class="modal-dialog modal- modal-dialog-centered modal- modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header bg-modal text-white">
                <h6 class="modal-title" id="modal-title-default">Fill Form Below To Register Staff(s) User</h6>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <!-- staff.html -->
                <form method="post" action="">
                    {% csrf_token %}
                    <div>
                    <label for="username">Username:</label>
                    <input type="text" name="username" required>
                    </div>
                    <div>
                    <label for="email">Email:</label>
                    <input type="email" name="email" required>
                    </div>
                    <div>
                    <label for="password">Password:</label>
                    <input type="password" name="password" required>
                    </div>
                    <div>
                    <label for="first_name">First Name:</label>
                    <input type="text" name="first_name" required>
                    </div>
                    <div>
                    <label for="last_name">Last Name:</label>
                    <input type="text" name="last_name" required>
                    </div>
                    <div>
                    <input type="submit" value="Register">
                    </div>
                </form>
  
            </div>

            <div class="modal-footer">
                <button type="button" class="btn primary ml-auto" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- end of modal -->