<!-- student_modal -->
<div class="modal fade" id="student_modal" tabindex="-1" role="dialog" aria-labelledby="student_modal" aria-hidden="true">
    <div class="modal-dialog modal- modal-dialog-centered modal- modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h6 class="modal-title" id="modal-title-default">Fill Form Below To Register Student</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body">
                <form action="">
                    <div class="form-group">
                        <input type="text" name="firstname" id="firstname" placeholder="Enter firstname" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="middle_name" id="middle_name" placeholder="Enter middle name" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="surname" id="surname" placeholder="Enter surname" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <select name="gender" id="gender" class="form-control">
                            <option selected disabled hidden>Choose Gender</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="tel" name="phone_number" placeholder="Enter phone number" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" placeholder="Enter email" class="form-control">
                    </div>
                    <div class="form-group">
                        <select name="depertment" id="depertment" class="form-control">
                            <option selected disabled hidden>Choose Depertment</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select name="programme" id="programme" class="form-control">
                            <option selected disabled hidden>Choose Programme</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" placeholder="Enter password" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Register Student" class=" primary form-control">
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- end of modal -->