<!-- unit Modal -->
<div class="modal fade" id="unit_modal" tabindex="-1" role="dialog" aria-labelledby="unit_modal" aria-hidden="true">
    <div class="modal-dialog modal- modal-dialog-centered modal- modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header bg-modal text-white">
                <h6 class="modal-title" id="modal-title-default">Fill Form Below To Register Unit(s)</h6>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" name="name" id="name" placeholder="Enter unit name" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="unit_abbreviation" id="unit_abbreviation" placeholder="Enter unit abbreviation name" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <select name="department" id="department_id" class="select2 form-control">
                            <option selected disabled hidden>Choose Depertment Belong</option>
                            {% for result in dep %}
                                <option value="{{ result.id }}">{{ result.department_abbreviation }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <input type="submit" value="Register Unit" class="primary form-control">
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn primary ml-auto" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- end of modal -->