{%load static %}
{% include 'layout/layout.html' %}
<!-- student data -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="row">
            <div class="col-md-6">
                <h6 class="m-0 font-weight-bold">Student Registered</h6>
            </div>
            <div class="col-md-6">
                <a href="javaScript:void" data-toggle="modal" data-target="#student_modal" class="btn primary float-right">Add Student <i class="fa fa-plus"></i></a>
            </div>
        </div>
    </div>
    {% include 'resource/messages.html' %}
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Sur Name</th>
                        <th>Email</th>
                        <th>Regstration Number</th>
                        <th>Programme</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>First Name</th>
                        <th>Sur Name</th>
                        <th>Email</th>
                        <th>Regstration Number</th>
                        <th>Programme</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for student in students %}
                        <tr>
                            <td>{{ student.first_name }}</td>
                            <td>{{ student.last_name }}</td>
                            <td>{{ student.email }}</td>
                            <td>{{ student.reg_number }}</td>
                            <td>{{ student.programme }}</td>
                            <td>
                                <div class="row">
                                    <div class="col-md-4">
                                        <i class="fa fa-eye text-primary"></i>
                                    </div>
                                    <div class="col-md-4">
                                        <i class="fa fa-edit text-primary"></i>
                                    </div>
                                    <div class="col-md-4">
                                        <i class="fa fa-trash text-danger"></i>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% include 'modal/student_modal.html' %}
{% include 'layout/footer1.html' %}