            {% load static %}
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <div class="row">
                            <div class="col-md-6">
                                <span> <a href="https://site.mzumbe.ac.tz" target="_blank" style="color: #f36140; font-weight: 700;">Mzumbe University</a> &copy; 2023</span>
                            </div>
                            <div class="col-md-6">
                                <span> <a href="https://samile.co.tz" target="_blank" style="color: black">Developed By <span style="color:  #f36140;font-weight: 700;">Developer Samile</span></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <script>
            function hideMessage() {
                var message_el = document.getElementById("message");
                if (message_el) {
                    setTimeout(function () {
                        message_el.style.display = "none";
                    }, 3000);
                }
            }
            window.onload = hideMessage;

            // get student according to their programme of study
            $(document).ready(function (){
                $('#programme').change(function () {
                    var selectedProgrammeId = $(this).val();
                    // send ajax to retrive data
                    $.ajax({
                        url: '/eams/student_cw/',
                        type: 'GET',
                        data: { programme_id: selectedProgrammeId },
                        success: function (data) {
                            var studentsHtml = '';  // Initialize an empty string to store HTML content
                            // Iterate through the list of students and build HTML content
                            for (var i = 0; i < data.students.length; i++) {
                                studentsHtml += '<tr>';
                                studentsHtml += '<td>' + (i + 1) + '</td>';
                                studentsHtml += '<td>' + data.students[i].reg_number + '</td>';
                                studentsHtml += '<td>' + data.students[i].programme_abbrevation + '</td>';
                                var matchingCourse = data.courses.find(course => course.id === data.students[i].course_id);
                                if (matchingCourse) {
                                    studentsHtml += '<td>' + matchingCourse.code + '</td>';
                                } else {
                                    studentsHtml += '<td></td>'; // Handle the case when no matching course is found
                                }
                                studentsHtml += '<td><form action="" method="post"> {% csrf_token %} <div class="form-group"> <input type="number" name="cw" id="cw" placeholder="Enter CW" class="form-control" required></div> <div class="form-group"> <input type="submit" value="Register Depertment" class="primary form-control">  </div></form></td>';  // Add your logic for this cell
                                studentsHtml += '<td><div class="row"> <div class="col-md-4">  <i class="fa fa-eye text-primary"></i> </div>  <div class="col-md-4"> <i class="fa fa-edit text-primary"></i> </div>  <div class="col-md-4">  <i class="fa fa-trash text-danger"></i> </div> </div></td>';
                                studentsHtml += '</tr>';
                            }       
                            $('#students-container').html(studentsHtml);   
                        },
                        error: function () {
                            console.log("error")
                        }
                    });
                });
            });
        </script>

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top"> <i class="fas fa-angle-up"></i> </a>

        <!-- Bootstrap core JavaScript-->
        <script src="{% static '/vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

        <!-- Core plugin JavaScript-->
        <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

        <!-- Custom scripts for all pages-->
        <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

        <!-- Page level plugins -->
        <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
        <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
    </body>

</html>