{%load static %}
{% include "resource/header.html" %}

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'home' %}">
                <div class="sidebar-brand-icon">
                    <h4><img src="{% static '/img/graduation-cap-svgrepo-com (1).svg' %}" alt="logo" style="width: 30px;"></h4>
                </div>
                <div class="sidebar-brand-text mx-3">
                    <h4>MU-EAMS</h4>
                </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <div class="mb-2"></div>

            <!-- Heading -->
            <div class="sidebar-heading">
                ACADEMIC APPS
            </div>
            {% if user.is_staff == 0 %}
                <!-- Nav Item - Pages Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        <i class="fas fa-fw fa-book-reader"></i>
                        <span>Registration</span>
                    </a>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="collapse-inner rounded" style="background-color: #002E3B;">
                            <a class="collapse-item text-white" href="{% url 'register_my_course' %}">Course Registration</a>
                            {% if student_regstraion %}
                                <a class="collapse-item text-white" href="{% url 'student_semester_registration' %}">Semester Registration</a>
                            {% endif %}
                            <a class="collapse-item text-white" href="{% url 'programme_stracture' %}">Programme Stracture</a>
                            <a class="collapse-item text-white" href="">Registration History</a>
                        </div>
                    </div>
                </li>

                <!-- payment -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'payment' %}">
                        <i class="fas fa-fw fa-chart-area"></i>
                        <span>Payment</span></a>
                </li>
                
                <div class="mb-4"></div>
                <!-- Heading -->
                <div class="sidebar-heading">
                    OTHER APPS
                </div>

                <!-- Nav Item - Pages Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="javaScript:void" data-toggle="collapse" data-target="#collapsePages"
                        aria-expanded="true" aria-controls="collapsePages">
                        <i class="fa fa-3x fa-bed"></i>
                        <span>Accommodation</span>
                    </a>
                </li>

                <!-- Nav Item - NHIF -->
                <li class="nav-item">
                    <a class="nav-link" href="javaScript:void">
                        <i class="fas fa-fw fa-chart-area"></i>
                        <span>NHIF</span></a>
                </li>

                <!-- Nav Item - Student Guide -->
                <li class="nav-item">
                    <a class="nav-link" href="javaScript:void">
                        <i class="fas fa-fw fa-book-open"></i>
                        <span>Student Guide</span></a>
                </li>
            {% elif user.is_staff == 1 %}
                <!-- cv -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'student_cw' %}">
                        <i class="fas fa-fw fa-book-open"></i>
                        <span>Student Course Work</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'exam_attendance' %}">
                        <i class="fas fa-fw fa-book"></i>
                        <span>Exam Attendance</span></a>
                </li>
                 <!-- USERS -->
                 <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUsers"
                        aria-expanded="true" aria-controls="collapseUsers">
                        <i class="fas fa-fw fa-user"></i>
                        <span>User Records</span>
                    </a>
                    <div id="collapseUsers" class="collapse" aria-labelledby="headingUtilities"
                        data-parent="#accordionSidebar">
                        <div class="collapse-inner rounded" style="background-color: #002E3B;">
                            <a class="collapse-item text-white" href="{% url 'student' %}">Student</a>
                            <a class="collapse-item text-white" href="{% url 'staff' %}">Staff</a>
                        </div>
                    </div>
                </li>
                <!-- Nav Item - Mu Units -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUnits"
                        aria-expanded="true" aria-controls="collapseUnits">
                        <i class="fas fa-fw fa-book-open"></i>
                        <span>MU Units</span>
                    </a>
                    <div id="collapseUnits" class="collapse" aria-labelledby="headingUtilities"
                        data-parent="#accordionSidebar">
                        <div class="collapse-inner rounded" style="background-color: #002E3B;">
                            <a class="collapse-item text-white" href="{% url 'depertment' %}">Depertment</a>
                            <a class="collapse-item text-white" href="{% url 'unit' %}">Unit</a>
                            <a class="collapse-item text-white" href="{% url 'programme' %}">Programmes</a>
                        </div>
                    </div>
                </li>
            
                <!-- Nav Item - Mu Settings -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSettings"
                        aria-expanded="true" aria-controls="collapseSettings">
                        <i class="fas fa-fw fa-cog"></i>
                        <span>MU Settings</span>
                    </a>
                    <div id="collapseSettings" class="collapse" aria-labelledby="headingUtilities"
                        data-parent="#accordionSidebar">
                        <div class="collapse-inner rounded" style="background-color: #002E3B;">
                            <a class="collapse-item text-white" href="{% url 'course' %}">Course</a>
                            <a class="collapse-item text-white" href="{% url 'semester' %}">Semester</a>
                            <a class="collapse-item text-white" href="{% url 'education_level' %}">Education Level</a>
                            <a class="collapse-item text-white" href="{% url 'year_of_study' %}">Year Of Study</a>
                        </div>
                    </div>
                </li>
            {% endif %}
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <div class="row">
                        <div class="col-md-4">
                            <button class="btn rounded-circle mr-3" id="sidebarToggle">
                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="col-md-4" hidden>
                            <button class="btn rounded-circle mr-3">
                                <i class="fa fa-th-large" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="javaScript:void" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">0</span>
                            </a>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle btn btn-sm btn-light" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ user.first_name }} {{ user.last_name }}</span>
                                <img class="img-profile rounded-circle" src="{% static '/img/undraw_profile.svg' %}" alt="profile">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <div class="" style="background-color: #002E3B;">
                                    <img src="{% static '/img/undraw_profile.svg' %}" alt="Dashboard" class="dashboard-img">
                                </div>
                                <a class="dropdown-item" href="{% url 'profile' %}">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-lock fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Lock Account
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'logout' %}">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->                
            <!-- PAGE CONTENT -->
            <!-- End of Main Content -->
