{%load static %}
{% include 'layout/layout.html' %}
<!-- depertment data -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="row">
            <div class="col-md-6">
                <h6 class="m-0 font-weight-bold">Depertment</h6>
            </div>
            <div class="col-md-6">
                <a href="javaScript:void" data-toggle="modal" data-target="#depertment_modal" class="btn primary float-right">Add Depertment <i class="fa fa-plus"></i></a>
            </div>
        </div>
    </div>
    {% include 'resource/messages.html' %}
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>Name</th>
                        <th>Depertment Abbreviation Name</th>
                        <th>Date Created</th>
                        <th>Date Updated</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>S/N</th>
                        <th>Name</th>
                        <th>Depertment Abbreviation Name</th>
                        <th>Date Created</th>
                        <th>Date Updated</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for depertment in depertments %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{depertment.name}}</td>
                            <td>{{depertment.department_abbreviation}}</td>
                            <td>{{depertment.created_at}}</td>
                            <td>{{depertment.created_at}}</td>
                            <td>
                                <div class="row">
                                    <div class="col-md-4">
                                        <i class="fa fa-eye text-primary"></i>
                                    </div>
                                    <div class="col-md-4">
                                        <i class="fa fa-edit text-primary"></i>
                                    </div>
                                    <div class="col-md-4">
                                        <i class="fa fa-trash text-danger"></i>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% include 'modal/depertment_modal.html' %}
{% include 'layout/footer1.html' %}