{%load static %}

{% include "layout/layout.html" %}

                <!-- Begin Page Content -->
                    <img src="{% static '/img/dashboard.jpg' %}" alt="Dashboard" class="dashboard-img">
                    <h2 class="dashboard-text">Dashboard</h2>
                    <br><br>
                <!-- end Page Heading -->
                <div class="container-fluid">

                    <!-- Content Row -->
                    <div class="row">
                        <!-- REGISTRATION Card Example -->
                        <div class="col-md-3">
                            <a href="" class="text-muted text-decoration-none">
                                <div class="card mb-3 shadow h-4">
                                    <div class="card-body">
                                        <p class="card-title text-center"><i class="fa fa-3x fa-book-reader text-amethyst-dark"></i> </p>
                                        <div class="mb-0 text-muted font-size-sm text-uppercase text-center">REGISTRATION</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        
                        <!-- ACCOMODATION Card Example -->
                        <div class="col-md-3">
                            <a href="" class="text-muted text-decoration-none">
                                <div class="card mb-3 shadow h-4">
                                    <div class="card-body">
                                        <p class="card-title text-center"><i class="fa fa-3x fa-clipboard-list text-success"></i> </p>
                                        <div class="mb-0 text-muted font-size-sm text-uppercase text-center">ACADEMIC Records</div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <!-- REGISTRATION Card Example -->
                        <div class="col-md-3">
                            <a href="" class="text-muted text-decoration-none">
                                <div class="card mb-3 shadow h-4">
                                    <div class="card-body">
                                        <p class="card-title text-center"><i class="fa fa-3x fa-bed text-warning"></i> </p>
                                        <div class="mb-0 text-muted font-size-sm text-uppercase text-center">Accommodation</div>
                                    </div>
                                </div>
                            </a>
                        </div>


                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
{% include "layout/footer1.html" %}
